@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");



*,
*:before,
*:after {
	box-sizing: border-box;
}

@property --progress-value {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}
  
:root {
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}


progress[value] {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) '%';
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  @supports selector(::-moz-progress-bar) {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg)
    calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%)
    calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%)
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}


progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::after {
  display: inline-block;
  align-items: center;
  justify-content: right;
  margin-bottom: 10px;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: var(--progress-value-percent);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--progress-value-color);
  border-radius: 50%;
  content: attr(value);
  content: var(--progress-value-string, var(--value));
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

@keyframes progress {
	from {
		--progress-value: 0;
	} to {
		--progress-value: var(--value);
	}
}

p.category {
    display: inline-block;
    margin-right: 10px;
    width: 15%;
}

ul { 
	position: relative;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}


#menu li {
	padding-left: 0;
	text-indent: 0;
}


code {
    display: inline-block;
    text-align: right;
}

choices_ul.li {
    margin-left: 30px;
    padding-left: 3%;
}

/*================================== TIMELINE ==================================*/
/*-- GENERAL STYLES ------------------------------*/
 .timeline {
	 line-height: 1.4em;
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 width: 100%;
}
 .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
	 line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
 .timeline-item {
	 position: relative;
}
 .timeline-item:last-child {
	 padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
 .timeline-info {
	 font-size: 12px;
	 font-weight: 700;
	 letter-spacing: 3px;
	 margin: 0 0 0.5em 0;
	 text-transform: uppercase;
	 white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
 .timeline-marker {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 width: 15px;
}
 .timeline-marker:before {
	 background: #ff6b6b;
	 border: 3px solid transparent;
	 border-radius: 100%;
	 content: "";
	 display: block;
	 height: 15px;
	 position: absolute;
	 top: 4px;
	 left: 0;
	 width: 15px;
	 transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
 .timeline-marker:after {
	 content: "";
	 width: 3px;
	 background: #ccd5db;
	 display: block;
	 position: absolute;
	 top: 24px;
	 bottom: 0;
	 left: 6px;
}
 .timeline-item:last-child .timeline-marker:after {
	 content: none;
}
 .timeline-item:not(.period):hover .timeline-marker:before {
	 background: transparent;
	 border: 3px solid #ff6b6b;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
	 padding-bottom: 40px;
}
 .timeline-content p:last-child {
	 margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
 .period {
	 padding: 0;
}
 .period .timeline-info {
	 display: none;
}
 .period .timeline-marker:before {
	 background: transparent;
	 content: "";
	 width: 15px;
	 height: auto;
	 border: none;
	 border-radius: 0;
	 top: 0;
	 bottom: 30px;
	 position: absolute;
	 border-top: 3px solid #ccd5db;
	 border-bottom: 3px solid #ccd5db;
}
 .period .timeline-marker:after {
	 content: "";
	 height: 32px;
	 top: auto;
}
 .period .timeline-content {
	 padding: 40px 0 70px;
}
 .period .timeline-title {
	 margin: 0;
}
/*---------------------------------------------- MOD: TIMELINE SPLIT ----------------------------------------------*/
 @media (min-width: 768px) {
	 .timeline-split .timeline, .timeline-centered .timeline {
		 display: table;
	}
	 .timeline-split .timeline-item, .timeline-centered .timeline-item {
		 display: table-row;
		 padding: 0;
	}
	 .timeline-split .timeline-info, .timeline-centered .timeline-info, .timeline-split .timeline-marker, .timeline-centered .timeline-marker, .timeline-split .timeline-content, .timeline-centered .timeline-content, .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
		 display: table-cell;
		 vertical-align: top;
	}
	 .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
		 position: relative;
	}
	 .timeline-split .timeline-content, .timeline-centered .timeline-content {
		 padding-left: 30px;
	}
	 .timeline-split .timeline-info, .timeline-centered .timeline-info {
		 padding-right: 30px;
	}
	 .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
		 position: relative;
		 left: -45px;
	}
}
/*---------------------------------------------- MOD: TIMELINE CENTERED ----------------------------------------------*/
 @media (min-width: 992px) {
	 .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
		 display: block;
		 margin: 0;
		 padding: 0;
	}
	 .timeline-centered .timeline-item {
		 padding-bottom: 40px;
		 overflow: hidden;
	}
	 .timeline-centered .timeline-marker {
		 position: absolute;
		 left: 50%;
		 margin-left: -7.5px;
	}
	 .timeline-centered .timeline-info, .timeline-centered .timeline-content {
		 width: 50%;
	}
	 .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
		 float: left;
		 text-align: right;
		 padding-right: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
		 float: right;
		 text-align: left;
		 padding-left: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
		 float: right;
		 text-align: left;
		 padding-left: 30px;
	}
	 .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
		 float: left;
		 text-align: right;
		 padding-right: 30px;
	}
	 .timeline-centered > .timeline-item.period .timeline-content {
		 float: none;
		 padding: 0;
		 width: 100%;
		 text-align: center;
	}
	 .timeline-centered .timeline-item.period {
		 padding: 50px 0 90px;
	}
	 .timeline-centered .period .timeline-marker:after {
		 height: 30px;
		 bottom: 0;
		 top: auto;
	}
	 .timeline-centered .period .timeline-title {
		 left: auto;
	}
}
/*---------------------------------------------- MOD: MARKER OUTLINE ----------------------------------------------*/
 .marker-outline .timeline-marker:before {
	 background: transparent;
	 border-color: #ff6b6b;
}
 .marker-outline .timeline-item:hover .timeline-marker:before {
	 background: #ff6b6b;
}
 