/* http://meyerweb.com/eric/tools/css/reset/ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


code {
	font: normal normal;
	font-size: 60%;
	/*line-height: 1em;*/
	font-family: Menlo,monospace,sans-serif;
	color: #aaa;
    float: right;
}


ul { 
	position: relative;
	left: 3%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/


#menu li {
	padding-left: 0;
	text-indent: 0;
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
	width: 100%;
	margin-bottom: 0.2em !important;
	color: yellow;
}
body .post-content h2{
	margin: 12px auto 10px;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	left: 33%;
}


h1+p { 
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em;
	color: #a00;
	margin-top: 3em;
	top: 1.4em;
	margin-bottom: 32px auto 10px;
}

h3 {
	color: #39f;
	font-size: 1em;
	line-height: 2em; 
	top: 1.7em;
	text-align: left;
	left: 3%;
	width: 50%;
}

#menu {
	width: auto;	
	left: 0;
}


a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 33%;
	color: #aaa;
	font-family: Menlo,monospace,sans-serif;
	font-size: 80%;
}

#webaddress a {
	text-decoration: none;
}

em {
	/*font-weight: bold;*/
	font-style: italic;
}

strong {
	font-weight: bold;
}

#address {
	color: green;
	display: none;
}

#currently {
	margin-top: -25px;
}

